html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #686868;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Helvetica, sans-seri;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #303030;
    padding: 0;
    margin: 0 auto !important;
}
  
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #d6d6d6;
}
::-webkit-scrollbar-thumb {
    background: #292929;
}
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}
  
a {
    text-decoration: none;
    color: #374f77;
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color: #374f77;
}
a:hover {
    color: #374f77;
    text-decoration: underline dotted #3a505b;
}
a:visited {
    color: #374f77;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(206, 206, 206, 0.75), rgba(0, 0, 0, 0));
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
}

ul {
    list-style-type: circle;
    font-weight: normal;
    font-size: 14px;
}
li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.topBar {
    z-index: 2;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0px;
    background: linear-gradient(141deg, #375e9b 0%, #2b4a7d 51%, #375e9b 75%);
    box-shadow: 0px 2px 16px -2px rgba(0, 0, 0, 0.56);
}
.topBarLogoIcon{
    float: left;
    height: 36px;
    margin: 4.5px;
    margin-left: 12px;
}
.topBarLogoTextContainer{
    float: left;
    height: 45px;
}
.topBarLogoText{
    line-height: 45px;
    vertical-align: middle;
    margin-left: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}
.topBarSupportTextContainer{
    float: right;
    height: 45px;
    margin-right: 4px;
    margin-top: 1px;
}
.topBarSupportText{
    line-height: 2px;
    vertical-align: middle;
    margin-right: 10px;
    color: #d3d3d3;
    font-size: 10px;
    text-align: right;
    margin-top: 11px;
}
.topBarSupportTextEmail{
    line-height: 28px;
    vertical-align: middle;
    margin-right: 9px;
    margin-top: -1px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.topBarItemContainer{
    float: right;
    height: 28px;
    width: 28px;
    margin: 7.5px;
    margin-right: 12px;
    margin-left: 0px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 250ms;
}
.topBarItemContainer img{
    height: 28px;
    transition: all 250ms;
    cursor: pointer;
}
.topBarItemContainer img:hover{
    filter: blur(4px);
}
.topBarItemDivider{
    float: right;
    width: 1px;
    height: 28px;
    background-color: #ffffff;
    margin-right: 13px;
    margin-top: 8px;
    opacity: 0.4;
}

.readProgressContainer {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 3px;
    background: #d6d6d6;
    top: 45;
    left: 0;
}
.readProgressBar {
    height: 3px;
    background: linear-gradient(141deg, #b72c2c 0%, #9f1717 51%, #780c0c 75%);
    width: 0%;
}

.fullscreenImageBackground{
    z-index: 8;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: all 250ms;
    opacity: 0.0;
    pointer-events: none;
}
.fullscreenImagePopupContent{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
    opacity: 0.0;
    pointer-events: none;
}
.fullscreenImagePopup{
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px;
}
.fullscreenImagePopup img{
    height: 92%;   
    border-radius: 4px;
    pointer-events: none;
}
.fullscreenImagePopupClose{
    width: 32px;
    height: 32px;
    cursor: pointer;
    pointer-events: none;
    margin-left: calc(100% - 30px);
}

.subBody{
    padding-top: 54px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    width: 95%;
    max-width: 1280px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: grid;
    grid-template-columns: 23% 1px auto;
}
.subBodySummary{
    height: 100px;
    overflow-y: auto;
    overflow-x: none;
    transition: all 0ms;
}
.subBodySummary::-webkit-scrollbar {
    width: 2px;
}
.subBodySummary::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(206, 206, 206, 0.75), rgba(0, 0, 0, 0.0));
}
.subBodySummary::-webkit-scrollbar-thumb {
    background: #808080;
}
.subBodySummary::-webkit-scrollbar-thumb:hover {
    background: #808080;
}
.subBodySummaryTitle{
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    height: 36px;
}
.subBodySummary ul{
    padding-left: 18px;
    list-style-type: disc;
}
.subBodySummary li{
    font-size: 12px;
}
.summaryItem{
    transition: all 150ms;
}
.subBodyDivider{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(206, 206, 206, 0.75), rgba(0, 0, 0, 0));
}
.subBodyContent{
    margin-left: 16px;
    margin-right: 8px;
}
.endOfBodyContentPoint{
    width: 100%;
    height: 1px;
    margin-top: -1px;
    position: relative;
    bottom: 20px;
}

.footer{
    margin-top: 16px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    width: 95%;
    max-width: 1280px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.footerSpacement{
    height: 16px;
}

.gotoTopButton{
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 32px;
    cursor: pointer;
    transition: all 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.gotoTopButton img{
    margin-top: 1px;
    margin-right: 1px;
    width: 80%;
    height: 80%;
}

/* style for tools tags */

.toolTagTopicTitle{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 18px;
    margin-bottom: 18px;
}

.toolTagTopicSubtitle{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 18px;
    margin-bottom: 18px;
}

.toolTagWarnContainer{
    display: block;
    width: calc(100% - 8px);
    background-color: #ff000013;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toolTagWarnSubcontainer{
    display: grid;
    grid-template-columns: 64px auto;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.toolTagWarnIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-left: -7px;
}
.toolTagWarnIcon img{
    width: 48px;
}
.toolTagWarnContent{
    display: flex;
    align-items: center;
}
.toolTagWarnText{
    padding-left: 4px;
}

.toolTagInfoContainer{
    display: block;
    width: calc(100% - 8px);
    background-color: #c9f3ff;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toolTagInfoSubcontainer{
    display: grid;
    grid-template-columns: 64px auto;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.toolTagInfoIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-left: -8px;
}
.toolTagInfoIcon img{
    width: 48px;
}
.toolTagInfoContent{
    display: flex;
    align-items: center;
}
.toolTagInfoText{
    padding-left: 4px;
}

.toolTagAchievContainer{
    display: block;
    width: calc(100% - 8px);
    background-color: #b1e0c0;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toolTagAchievSubcontainer{
    display: grid;
    grid-template-columns: 64px auto;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.toolTagAchievIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-left: -8px;
}
.toolTagAchievIcon img{
    width: 48px;
}
.toolTagAchievContent{
    display: flex;
    align-items: center;
}
.toolTagAchievText{
    padding-left: 4px;
}

.toolTagDetach{
    display: inline;
    background-color: rgb(239, 239, 239);
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
}

.toolTagImageContainer{
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(239, 239, 239);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toolTagImageImg{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.toolTagImageImg img{
    width: 100%;
    max-width: 640px;
    border-radius: 4px;
    cursor: zoom-in;
    transition: all 250ms;
}
.toolTagImageComment{
    text-align: center;
    font-style: italic;
    color: rgb(121, 121, 121);
}

.toolTagVideoContainer{
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(239, 239, 239);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.toolTagVideoVideo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.toolTagVideoVideo video{
    width: 100%;
    max-width: 640px;
    border-radius: 4px;
}
.toolTagVideoComment{
    text-align: center;
    font-style: italic;
    color: rgb(121, 121, 121);
}

.toolTagCodeContainer{
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(239, 239, 239);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}
.toolTagCodeContent{
    width: 100%;
    max-width: calc(640px - 22px);
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    cursor: text;
}
.toolTagCodeTitle{
    font-style: italic;
    color: rgb(121, 121, 121);
    font-family: Helvetica, sans-seri;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: -6px;
    margin-bottom: -6px;
}
.toolTagCodeComment{
    text-align: center;
    font-style: italic;
    color: rgb(121, 121, 121);
}

.toolTagTable{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border-collapse: separate;
    border-color:rgb(239, 239, 239);
    border-spacing: 0px;
    border-width: 1px;
    width: calc(100%  + 2px);
    margin-left: 0px;
    margin-right: 0px;
}
.toolTagTable tbody{
    font-size: 13px;
}
.toolTagTable td th{
    border: 1px solid #ddd;
    padding: 8px;
}
.toolTagTable tr:nth-child(odd){
    background-color: rgba(236, 236, 236, 0.152);
    transition: all 250ms;
}
.toolTagTable tr:hover{
    background-color: #ecf3ff;
}
.toolTagTable td{
    padding-top: 6px;
    padding-bottom: 6px;
}
.toolTagTable td:hover{
    cursor: text;
}
.toolTagTable th {
    border-bottom-width: 2px;
    font-weight: bolder;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: rgb(239, 239, 239);
}

.toolTagList{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 38px;
}
.toolTagList li{
    font-size: 13px;
    margin-bottom: 0px;
}
.toolTagList li::marker{
    font-weight: bold;
}